<nav class="navbar navbar-dark bg-primary">
    <div class="d-flex">
        <a href="/" class="navbar-brand d-flex">
            Guia Press
        </a>
        <ul class="navbar-nav d-flex flex-row">
            <li class="nav-item pad">
                <a href="/admin/categories" class="nav-link">Categorias</a>
            </li>
            <li class="nav-item pad">
                <a href="/admin/articles" class="nav-link">Artigos</a>
            </li>
            <li class="nav-item pad">
                <a href="/admin/users" class="nav-link">Usuários</a>
            </li>
        </ul>
    </div>
    <div class="d-flex">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a href="/logout/sair" class="nav-link">Logout</a>
            </li>
        </ul>
    </div>
</nav>

<style>
    .pad{
        padding-left: 25px;
    }
</style>